#brand-name{
        font-family: 'Caveat', cursive;
        font-size: 30px;
}
.nav-link{
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
h2{
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
h4{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    
}
